<table id="userList" class="display" width="100%">
    <thead>
            <tr>
                <th>First Name</th>
                <th>Secound Name</th>
                <th>Email</th>
                <th>Organization</th>
                <th>Employee Id</th>
            </tr>
        </thead>
</table>
<script src="/devJs/dashboard.js"></script>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="/css/jquery-ui.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>