<div class="container">
    <form id="signUpForm">
        <div class="form">
            <div class="input-field">
                <label for="firstName"><b>First Name</b></label>
                <input type="text" name="firstName" id="firstName" required>
            </div>
            <div class="input-field">
                <label for="lastName"><b>Last Name</b></label>
                <input type="text" name="lastName" id="lastName" required>
            </div>
            <div class="input-field">
                <label for="email"><b>Email</b></label>
                <input type="email" name="email" id="email" required>
            </div>
            <div class="input-field">
                <label for="employeeId"><b>Employee Id</b></label>
                <input type="number" name="employeeId" id="employeeId" required>
            </div>
            <div class="input-field">
                <label for="orgName"><b>Organization</b></label>
                <input type="text" name="orgName" id="orgName" required>
            </div>
            <div class="input-field">
                <label for="pwd"><b>Password</b></label>
                <input type="password" name="pwd" id="pwd" required>
            </div>

            <button type="submit" class="btn">Register</button>
        </div>
    </form>
</div>
<script src="/devJs/register.js"></script>